.main_box {
    /* display: inline-flex;
    justify-items: center; */
    background-color: bisque;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 370px;
    margin-top: 130px;
    
}

.id_security {
    background-color: greenyellow;
    font-size: 25px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 80px;
    width: 350px;
    height: 80px;
    margin-top: 100px;
    margin-left: 50px;
}

.id_login {
    display: inline-block;
    position: relative;
    background-color: yellow;
    width: 30%;
    margin-left: 60%;
    padding-bottom: 30px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 50px;
}

.id_security-explanation {
    margin-top: 50px;
    margin-left: 50px;
}

.id_security-explanation_info {
    font-size: 14px;
    color: gray;
    margin-left: 50px;
    margin-top: 20px;
}

.vertical-line {
    display: inline-block;
    position: absolute;
    top: 50%;
    width: 1px;
    height: 240px;
    margin-top: -120px;
    background-color: red;
}
